body {
  font-family: "Poppins", sans-serif;
  margin: 5% 5% 0 5%;
  background-color: #fdf2ce;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main{
  /*background-color: aquamarine;*/
}

.barra{
  color: #2D387A;
}

.hero-section{
  background-image: url(./assets/images/interior-del-gran-almacen-de-distribucion-con-estantes-apilados-con-paletas-y-productos-listos-para-el-mercado\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.servicios{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 40vh;
}

.servicios-options{
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 40%;
}

.servicios h1{
  color: #9EC10D; 
}

.diferenciadores{
  background-color: #d4dae8;
}

@media (max-width: 680px){
  body{
    background-color: darkorchid;
  }
}

